{% extends 'back_office.html.twig' %}

{% block title %}
	Liste des offres d'emploi
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xl-12 col-sm-12 col-12">
			<div class="breadcrumb-path mb-4">
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('app_back_office') }}"><img src="{{ asset('assets/img/dash.png')}}" class="mr-2" alt="breadcrumb"/>Home</a>
					</li>
					<li class="breadcrumb-item active">
						Liste des offres d'emploi</li>
				</ul>
				<h3>Offres d'emploi</h3>
			</div>
		</div>
		<div class="col-xl-12 col-sm-12 col-12 mb-4">
			<div class="head-link-set">
				<ul>
					<li>
						<a class="active" href="{{ path('back.offres_emploi.index') }}">Toutes les offres</a>
					</li>
				</ul>
				<a class="btn-add" href="{{ path('back.offres_emploi.add') }}">
					<i data-feather="plus"></i>
					Ajouter une offre
				</a>
			</div>
		</div>
		<div class="col-xl-12 col-sm-12 col-12 mb-4">
			<div class="row">
				<div class="col-xl-10 col-sm-8 col-12 ">
					<label class="employee_count">{{ offres|length }} Offres</label>
				</div>
				<div class="col-xl-1 col-sm-2 col-12 ">
					<a href="#" class="btn-view ">
						<i data-feather="grid"></i>
					</a>
				</div>
				<div class="col-xl-1 col-sm-2 col-12 ">
					<a href="#" class="btn-view active">
						<i data-feather="list"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-12 col-sm-12 col-12 mb-4">
			<div class="card">
				<div class="table-heading">
					<h2>Liste des offres</h2>
				</div>
				<div class="table-responsive">
					<table class="table custom-table no-footer">
						<thead>
							<tr>
								<th>Titre</th>
								<th>Localisation</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for offre in offres %}
								<tr>
									<td>
										<div class="table-img">
											<a href="#">
												<label>{{ offre.title }}</label>
											</a>
										</div>
									</td>
									<td>
										<label class="action_label2">{{ offre.location }}</label>
									</td>
									<td>
										<div class="action">
											<a href="{{ path('app_public_offre_emploi_show', {'id': offre.id}) }}" class="action-view" target="_blank">
												<i data-feather="eye"></i>
											</a>
											<a href="{{ path('back.offres_emploi.edit', {'id': offre.id}) }}" class="action-edit">
												<i data-feather="edit"></i>
											</a>
											<a href="{{ path('back.offres_emploi.delete', {'id': offre.id}) }}" class="action-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?')">
												<i data-feather="trash-2"></i>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}