{% extends 'back_office.html.twig' %}

{% block title %}Absence
{% endblock %}

{% block body %}
	<h1>Absence</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ absence.id }}</td>
			</tr>
			<tr>
				<th>Motif</th>
				<td>{{ absence.motif }}</td>
			</tr>
			<tr>
				<th>Justificatif</th>
				<td>{{ absence.justificatif }}</td>
			</tr>
			<tr>
				<th>Remarque</th>
				<td>{{ absence.remarque }}</td>
			</tr>
			<tr>
				<th>Date_enregistrement</th>
				<td>{{ absence.dateEnregistrement ? absence.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_absence_index') }}">back to list</a>

	<a href="{{ path('app_absence_edit', {'id': absence.id}) }}">edit</a>

	{{ include('absence/_delete_form.html.twig') }}
{% endblock %}
