<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>
			{% block title %}{% endblock %}
			- HRConnect
		</title>

		<link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}">

		{% block css %}
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

			<link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css') }}">

			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{% endblock %}
	</head>
	<body>

		<div class="main-wrapper">


			{% include 'back_office/parts/_navbar.html.twig' %}

			{% include 'back_office/parts/_menu.html.twig' %}


			<div class="page-wrapper">
				<div class="content container-fluid">
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
								{{ message|raw }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}

					{% block body %}
						body
					{% endblock %}
				</div>
			</div>

			{% block js %}
				<script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>

				<script src="{{ asset('assets/js/popper.min.js') }}"></script>
				<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

				<script src="{{ asset('assets/js/feather.min.js') }}"></script>

				<script src="{{ asset('assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

				<script src="{{ asset('assets/plugins/apexchart/apexcharts.min.js') }}"></script>
				<script src="{{ asset('assets/plugins/apexchart/chart-data.js') }}"></script>

				<script src="{{ asset('assets/js/script.js') }}"></script>
			{% endblock %}
		</body>
	</body>
</html>
