{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nos offres d'emploi</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for offre in offres %}
                            <div class="col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ offre.titre }}</h5>
                                        <p class="card-text">
                                            <strong>Type de contrat :</strong> {{ offre.typeContrat }}<br>
                                            <strong>Localisation :</strong> {{ offre.localisation }}<br>
                                            <strong>Salaire :</strong> {{ offre.salaire }}
                                        </p>
                                        <a href="{{ path('app_public_offre_emploi_show', {'id': offre.id}) }}" class="btn btn-primary">
                                            Voir l'offre
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-md-12">
                                <p>Aucune offre d'emploi disponible pour le moment.</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 